<table class="table table-sm table-striped">
    <tr>
        <th>Наименование</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Церковь</th>
        <th>Рейтинг</th>
    </tr>
    <tr *ngFor="let event of events">
        <td>{{ event.name || 'Загрузка данных...'}}</td>
        <td>{{ event.category || 'Загрузка данных...'}}</td>
        <td>{{ event.price || 'Загрузка данных...'}}</td>
        <td>{{ event.church?.name || 'Нет данных'}}</td>
        <td>{{ event?.ratings?.length || 0}}</td>
    </tr>    
</table>
<button class="btn btn-primary m-a-1 " (click)="createEvent()">Создать мероприятие</button>
<button class="btn btn-primary m-a-1" (click)="createEventAndChurch()">Создать мероприятие и церковь</button>
<button class="btn btn-secondary m-a-1" (click)="replaceEvent()">Изменить мероприятие</button>
<button class="btn btn-secondary m-a-1" (click)="replaceChurch()">Изменить церковь</button>
<button class="btn btn-success m-a-1" (click)="updateEvent()">Изменить мероприятие</button>
<button class="btn btn-danger m-a-1" (click)="deleteEvent()">Удалить мероприятие</button>
<button class="btn btn-danger m-a-1" (click)="deleteChurch()">Удалить церковь</button>